.container {
    background-color: aliceblue;

}

label {
    width: 80px;
    text-align: right;
    margin-right: 10px;
}

#example {
    margin-top: 20px;
}

#convertButton, .tip { 
    margin-left: 90px;
}